/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.my-box {
  padding: 10px;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
}

body {
  background: #ffffff;
  color: #757575;
  margin: 0;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}

/* all lists*/
.list,
.work-list,
.preferences-list,
.list-team,
.site-nav,
.button-list,
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    position: fixed;
    min-width: 480px;
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    position: fixed;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    position: fixed;
  }
}

.list,
.work-list,
.list-team,
.preferences-list,
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

/* button hero */
.button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
}

.form-btn {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 56px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.btn-subs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;
  height: 50px;
  padding: 10px 29px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-weight: 700;
  background-repeat: no-repeat;
  -webkit-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  fill: #ffffff;
  -webkit-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-txt {
  margin-right: 10px;
}

/* Clients icons */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon {
  fill: #2196f3;
}

.clients-link:hover {
  border: 1px solid #2196f3;
}

.clients-item {
  width: calc((100% - 30px * 5) / 6);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .link {
  color: #757575;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
}

/* Icons contacts */
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 6px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover.contacs-icon {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover .svg {
  fill: #2196f3;
  color: #2196f3;
}

a:hover svg {
  fill: #2196f3;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form-text {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0, 03em;
  text-align: left;
}

.input-title {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.form-icon {
  position: absolute;
  left: 55px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  height: 40px;
  padding: 12px 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.form-input:focus + .form-icon {
  fill: #2196f3;
}

.form-input:not(:placeholder-shown) {
  border-color: #2196f3;
}

.input-title:hover {
  fill: #2196f3;
}

.form-comment {
  width: 100%;
  margin: auto;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-field textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox:checked ~ .icon-check {
  background-color: #2196f3;
  background-image: url(../image/iconcheck.svg);
  background-origin: border-box;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox-label {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.checkbox-label .icon-check {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* submit-form */
.subscription-container {
  width: 570px;
  height: 80px;
}

.form-subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-subs input:focus {
  border-color: #ffffff;
  outline: none;
}

.text-subs {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.input-subs {
  width: 358px;
  height: 50px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
}

.input-subs:hover {
  border: 1px solid #ffffff;
}

.label-subs {
  padding: 0;
}

.logo-header {
  color: #212121;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.logo-style {
  color: #2196f3;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-style {
  color: #2196f3;
  margin-top: 60px;
}

.logo-over {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  max-width: 450px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  content: "";
  background-color: #ffffff;
  background-size: 11px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
}

.modal-btn :hover,
.modal-btn :focus {
  fill: #2196f3;
}

.close {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover .social-icon {
  fill: #ffffff;
}

.social-icon-link:hover {
  background-color: #2196f3;
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

/* footer icons   */
.footer-icons {
  margin-top: 12px;
  width: 207px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 93px;
}

.social-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover .social-icon {
  fill: #ffffff;
}

.footer-icon-link:hover {
  background-color: #2196f3;
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-info {
  margin-right: 70px;
}

.footer {
  background-color: #2f303a;
}

.address-items {
  margin-top: 20px;
}

.address-info {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.nav-item {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  margin-top: 9px;
}

.nav-item:hover {
  color: #2196f3;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Projects portfolio */
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.portfolio-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-title {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-text {
  padding: 20px 24px;
}

/* Overlay */
.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .overlay-text {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 480px) {
  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .main-nav {
    height: 80px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav:hover::after .link.line {
  opacity: 1;
}

@media (min-width: 1200px) {
  .site-nav {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .site-nav {
    margin-left: 93px;
  }
}

@media (max-width: 767px) {
  .site-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .site-nav {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav .link {
  display: block;
  color: #212121;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-size: 36px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  position: relative;
  content: "";
  color: #212121;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.line:hover, .site-nav .link.line:focus, .site-nav .link.line {
  color: #2196f3;
}

.line::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0.7;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.navigation,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts .list {
  margin: 0;
  display: block;
  font-size: 18px;
}

@media (min-width: 1200px) {
  .contacts .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.contacts .item:not(:last-child) {
  margin-bottom: 16px;
}

@media (min-width: 1200px) {
  .contacts .item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .contacts .item:not(:last-child) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .contacts {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .contacts {
    margin-top: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .contacts .link {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

.item .link {
  font-size: 18px;
}

@media (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .link {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

/*Buttons portfolio */
.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 34px;
  letter-spacing: 0.03em;
  /* margin-bottom: 34px; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.button-list :focus,
.button-list :hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
}

.button-item {
  padding: 6px 22px;
  min-width: 73px;
  margin-right: 8px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item :last-child {
  margin-right: 0;
}

/* Preferences section */
.section-preferences {
  padding-top: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.preferences-list > .item-preferences {
  margin-right: 30px;
  width: calc((100% - 30px * 3) / 4);
}

.preferences-list .item-preferences:last-child {
  margin-right: 0;
}

.section-title {
  color: #212121;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}

.text {
  max-width: 270px;
  text-align: left;
}

/* icons Preferences */
.item-preferences:before {
  display: block;
  content: "";
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-satellite:before {
  background-image: url("../image/antenna.svg");
}

.icon-clock:before {
  background-image: url("../image/clock.svg");
}

.icon-plan::before {
  background-image: url("../image/diagram.svg");
}

.icon-technology::before {
  background-image: url("../image/astronaut.svg");
}

/* What are we doing */
.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.work-list .item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.work-list .item:last-child {
  margin-right: 0;
}

.title-main {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  padding-bottom: 50px;
}

.work-text {
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  left: 0;
  bottom: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.container-overlay {
  position: relative;
}

.section-team {
  background-color: #f5f4fa;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.list-team .item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-team .item:last-child {
  margin-right: 0;
}

.team-text {
  padding-bottom: 20px;
}

.team-name {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */