/* Clients icons */

.section-clients {
	padding-top: 0;
	padding-bottom: 60px;

	& h2 {
		margin-top: 0px;
		margin-bottom: 50px;
		font-family: "Roboto";
		font-weight: 700;
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
		color: $title-text-color;
	}
}

.clients-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0px;
	margin: 0px;
	justify-content: center;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	fill: $social-icons-color;
	border: 1px solid $social-icons-color;
	border-radius: 4px;
	transition: background-color 250ms $animation;

	&:hover .clients-icon {
		fill: $accent-color;
	}

	&:hover {
		border: 1px solid $accent-color;
	}
}

.clients-item:nth-child(2n + 1) {
	margin-right: 30px;
	margin-bottom: 30px;
}

.clients-icon {
	transition: fill 250ms $animation;
}

@include for-size(tablet) {
	.clients-item:nth-child(2) {
		margin-right: 30px;
	}
	.clients-item:nth-child(5) {
		margin-left: 30px;
	}

	.clients-item:nth-child(3) {
		margin-right: 0;
	}
}

@include for-size(desktop) {
	.section-clients {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.clients-item {
		width: calc((100% - 30px * 5) / 6);

		&:not(:last-child) {
			margin: 0;
			margin-right: 30px;
		}
	}
}
