/* Clients icons */

.section-clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

// .clients-container {
// 	margin-left: auto;
// 	margin-right: auto;
// 	width: 1200px;
// 	padding-left: 15px;
// 	padding-right: 15px;

& h2 {
	margin-top: 0px;
	margin-bottom: 50px;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: $title-text-color;
}

.clients-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	fill: $social-icons-color;
	border: 1px solid $social-icons-color;
	border-radius: 4px;
	transition: background-color 250ms $animation;

	&:hover .clients-icon {
		fill: $accent-color;
	}

	&:hover {
		border: 1px solid $accent-color;
	}
}

.clients-item {
	width: calc((100% - 30px * 5) / 6);

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.clients-icon {
	transition: fill 250ms $animation;
}
