.form {
	display: flex;
	flex-direction: column;
	width: 448px;
	margin: auto;

	&-title {
		display: block;
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.15;
		text-align: center;
		color: $title-text-color;
	}

	&-text {
		font-family: "Roboto";
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0, 03em;
		text-align: left;
	}
}

.input-title {
	font-style: normal;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	margin-bottom: 4px;
	color: $primery-text-color;
}

.form-icon {
	position: absolute;

	left: 55px;
	transform: translateY(10px);

	transition-duration: 250ms;
	transition-timing-function: $animation;
}

.form-input {
	height: 40px;
	padding: 12px 40px;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	margin-bottom: 10px;

	&:focus + .form-icon {
		fill: $accent-color;
	}

	&:not(:placeholder-shown) {
		border-color: $accent-color;
	}
}

.form-comment {
	width: 100%;
	margin: auto;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	transition-duration: 250ms;
	transition-timing-function: $animation;
}

.form-field input:focus {
	border-color: $accent-color;
	outline: none;
}

.form-field textarea:focus {
	border-color: $accent-color;
	outline: none;
}

.checkbox {
	appearance: none;
	position: absolute;

	&:checked ~ .icon-check {
		background-color: $accent-color;
		background-image: url(../image/iconcheck.svg);
		background-origin: border-box;
		background-size: contain;
		background-origin: border-box;
		border-color: $accent-color;
	}
}

.checkbox-label {
	display: inline-block;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;

	& .icon-check {
		vertical-align: middle;
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 8px;
		border: 2px solid $title-text-color;
		border-radius: 2px;
		transition-duration: 250ms;
		transition-timing-function: $animation;
	}
}

/* submit-form */

.subscription-container {
	width: 570px;
	height: 80px;
}

.form-subs {
	display: flex;
	align-items: flex-end;

	& input:focus {
		border-color: $text-white-color;
		outline: none;
	}
}

.text-subs {
	margin-top: 0;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $text-white-color;
}

.input-subs {
	width: 358px;
	height: 50px;
	outline: none;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
	font-size: 16px;
	color: $text-white-color;
	margin-top: 20px;

	&:hover {
		border: 1px solid $text-white-color;
	}
}
.label-subs {
	padding: 0;
}
