.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	transition: 250ms $animation;
	overflow-y: scroll;

	&.is-hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 40px;
	min-width: 450px;

	background: $text-white-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity 250ms $animation;

	// @include for-size(tablet) {
	// 	max-width: 450px;
	// 	max-height: 609px;
	// }

	@include for-size(desktop) {
		max-width: 528px;
	}

	&-btn {
		display: inline-flex;
		position: absolute;
		content: "";
		background-color: $text-white-color;

		background-size: 11px;
		background-position: center;
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		right: 8px;
		top: 8px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		outline: none;

		& :hover,
		& :focus {
			fill: $accent-color;
		}
	}
}

.close {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 11px;
	height: 11px;
	transition: fill 250ms $animation;
}
