.social-icon-list {
	display: flex;
	list-style: none;
	margin-bottom: 30px;
	justify-content: center;
	padding: 0;
}

.social-icon {
	width: 20px;
	height: 20px;
	fill: $social-icons-color;
	transition: fill 250ms $animation;
}

.social-icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: $text-white-color;
	border-radius: 50%;
	background-color: $text-white-color;
	transition: background-color 250ms $animation;

	&:hover .social-icon {
		fill: $text-white-color;
	}

	&:hover {
		background-color: $accent-color;
	}
}

.social-icon-item:not(:last-child) {
	margin-right: 10px;
}

/* footer icons   */

.footer-icons {
	margin-bottom: 60px;
}

@include for-size(desktop) {
	.footer-icons {
		margin-top: 12px;
		width: 207px;
		height: 80px;
		align-items: center;
		margin-right: 93px;
	}
}

.social-text {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $text-white-color;
	margin-bottom: 20px;
}

.footer-icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transition: background-color 250ms $animation;

	&:hover .social-icon {
		fill: $text-white-color;
	}

	&:hover {
		background-color: $accent-color;
	}
}

.social-icon-item:not(:last-child) {
	margin-right: 10px;
}

.footer-info {
	margin-right: 70px;
}
