body {
	background: $text-white-color;
	color: $primery-text-color;
	margin: 0;
	letter-spacing: 0.03em;
	font-family: "Roboto", sans-serif;
}

/* all lists*/

.list,
.work-list,
.preferences-list,
.list-team,
.site-nav,
.button-list,
.portfolio-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	outline: red 2px solid;

	@include for-size(mobile) {
		min-width: 480px;
	}
	@include for-size(tablet) {
		width: 768px;
	}
	@include for-size(desktop) {
		width: 1200px;
	}
}

.list,
.work-list,
.list-team,
.preferences-list,
.social-list {
	display: flex;
	margin-left: auto;
}
