$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$text-white-color: #ffffff;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$background-color: #2f303a;
$background-color-main: #e5e5e5;
$background-color-button: #f5f4fa;
$social-icons-color: #afb1b8;
$background-color-work: rgba(47, 48, 58, 0.8);
$animation: cubic-bezier(0.4, 0, 0.2, 1);
