.footer {
	background-color: $background-color;
}
.address-items {
	margin-top: 20px;
}
.address-info {
	color: $text-white-color;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}
.nav-item {
	color: $contacts-footer-color;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	margin-top: 9px;

	&:hover {
		color: $accent-color;
	}
}

.container-footer {
	display: flex;
	width: 1200px;
	padding: 60px 15px;
	margin-left: auto;
	margin-right: auto;
}
