.container-footer {
	// display: flex;
	// flex-direction: column;
	text-align: center;
	// width: 480px;
	padding: 60px 15px;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	// min-width: 480px;
	background-color: $background-color;
	&-info {
		margin-right: 0;
		margin-bottom: 60px;
	}
}
.address-items {
	margin-top: 20px;
}
.address-info {
	color: $text-white-color;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 3px;
}
.nav-item {
	color: $contacts-footer-color;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	margin-top: 5px;

	&:hover {
		color: $accent-color;
	}
}

@include for-size(tablet) {
	.container-footer {
		// width: 768px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		text-align: center;
	}
	// .footer {
	// 	min-width: 768px;
	// }
	.nav-item {
		margin-top: 8px;
	}
}

@include for-size(desktop) {
	.container-footer {
		display: flex;
		text-align: start;
		width: 1200px;
		padding: 60px 15px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer {
		min-width: 1200px;
	}
	.nav-item {
		margin-top: 9px;
	}
	.footer-info {
		margin-right: 70px;
	}
}
