.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("/image/mobile/header@1x.jpg");
	background-size: cover;
	background-position: center;
	background-color: $background-color;
	font-style: normal;
	font-family: Roboto;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	padding-top: 200px;
	padding-bottom: 200px;

	&-title {
		margin-top: 0;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		font-weight: 900;
		font-size: 26px;
		line-height: 1.6;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $text-white-color;
	}
}

@media not all,
	screen and (min-device-pixel-ratio: 2),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
	.hero {
		background-image: url("/image/mobile/header@2x.jpg");
	}
}

@include for-size(tablet) {
	.hero {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("/image/tablet/header@1x.jpg");
	}
}

@media not all,
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.hero {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("/image/tablet/header@2x.jpg");
	}
}

@include for-size(desktop) {
	.hero {
		height: 600px;
		margin-left: auto;
		margin-right: auto;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("/image/desktop/Imghero@1x.jpg");
		background-size: cover;
		background-position: center;
		background-color: $background-color;
		font-style: normal;
		font-family: Roboto;
		font-weight: 900;
		font-size: 44px;
		line-height: 60px;
		text-align: center;
		letter-spacing: 0.06em;
		padding-top: 200px;
		padding-bottom: 200px;

		&-title {
			color: $text-white-color;
			text-transform: uppercase;
			padding-bottom: 30px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 44px;
			line-height: 60px;
			text-align: center;
			letter-spacing: 0.06em;
			text-transform: uppercase;
		}
	}
}

@media not all,
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.hero {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("/image/desktop/Imghero@2x.jpg");
	}
}
