.main-nav {
	display: flex;
	align-items: center;
	position: relative;
}
.site-nav {
	display: flex;
	margin-left: 93px;

	&:hover::after .link.line {
		opacity: 1;
	}

	@include for-size(mobile-only) {
		flex-direction: column;
	}
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}

.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: $title-text-color;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	position: relative;
	content: "";
	padding-top: 32px;
	padding-bottom: 32px;
	color: $title-text-color;
	font-weight: 500;
	transition: color 250ms $animation;

	&:hover,
	&:focus {
		color: $accent-color;
		transition: color 250ms $animation;
	}

	&.line:hover,
	&.line:focus,
	&.line {
		color: $accent-color;
	}
}

.line::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background-color: $accent-color;
	border-radius: 2px;
	opacity: 0.7;
	transition: opacity 250ms $animation;
}

// Menu

.menu-container {
	text-align: center;
	font-size: 24px;
	background-color: greenyellow;
	padding: 20px;

	@include for-size(mobile-only) {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;

		&.is-open {
			display: block;
		}
	}

	@include for-size(tablet) {
		display: flex;
	}
}

.menu-button {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;

	@include for-size(tablet) {
		display: none;
	}
}

.menu-button .icon-close {
	display: none;
}

.menu-button.is-open .icon-close {
	display: block;
}

.menu-button.is-open .icon-menu {
	display: none;
}

.navigation,
.contacts {
	display: flex;
}

.navigation {
}
