.main-nav {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
}
.site-nav {
	display: flex;

	&:hover::after .link.line {
		opacity: 1;
	}

	@include for-size(tablet) {
		.site-nav .item:not(:last-child) {
			margin-right: 50px;
		}
		margin-left: 93px;
	}

	@include for-size(mobile-only) {
		flex-direction: column;
	}

	& .item:not(:last-child) {
		margin-bottom: 40px;
	}
}

.site-nav .link {
	display: block;

	color: $title-text-color;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-size: 36px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.02em;
	position: relative;
	content: "";
	color: $title-text-color;
	font-weight: 500;
	transition: color 250ms $animation;

	&:hover,
	&:focus {
		color: $accent-color;
		transition: color 250ms $animation;
	}

	&.line:hover,
	&.line:focus,
	&.line {
		color: $accent-color;
	}

	@include for-size(tablet) {
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

// .site-nav .item + .item {
// 	padding-bottom: 40px;
// }

.line::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background-color: $accent-color;
	border-radius: 2px;
	opacity: 0.7;
	transition: opacity 250ms $animation;
}

// Menu

.menu-container {
	text-align: center;

	background-color: $text-white-color;
	padding-top: 60px;
	padding-bottom: 60px;

	@include for-size(mobile-only) {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;

		&.is-open {
			display: block;
		}
	}

	@include for-size(tablet) {
		display: flex;
	}
}

.menu-button {
	display: inline-flex;

	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;

	@include for-size(tablet) {
		display: none;
	}
}

.menu-button .icon-close {
	display: none;
}

.menu-button.is-open .icon-close {
	display: block;
}

.menu-button.is-open .icon-menu {
	display: none;
}

.navigation,
.contacts {
	display: flex;
	justify-content: center;
	// margin-top: 60px;
}

.navigation {
	display: flex;
}

.contacts .list {
	margin: 0;
	display: block;
	font-size: 18px;
}

.contacts {
	display: flex;
	align-items: center;
	margin-top: 60px;

	& .item:not(:last-child) {
		margin-bottom: 16px;
	}
}

.item .link {
	font-size: 18px;
}
