/* Preferences section */

.section-preferences {
	padding-top: 94px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

.preferences-list {
	flex-wrap: wrap;
}

.item-preferences {
	width: 100%;
}

.section-title {
	color: $title-text-color;
	text-transform: uppercase;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
}

.text {
	max-width: 100%;
	text-align: start;
}

@media screen and (max-width: 1199px) {
	.item-preference:not(:last-child) {
		margin-bottom: 30px;
	}
}

@include for-size(tablet) {
	.item-preferences:nth-child(2n + 1) {
		margin-right: 30px;
	}
	.item-preferences {
		flex-basis: calc((100% - 30px) / 2);
	}
	.section-title {
		text-align: left;
	}
}

@include for-size(desktop) {
	.section-preferences {
		padding-top: 94px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
	}
	.preferences-list > .item-preferences {
		margin-right: 30px;
		width: calc((100% - 30px * 3) / 4);
	}

	.preferences-list .item-preferences:last-child {
		margin-right: 0;
	}
	.preferences-list {
		flex-wrap: nowrap;
	}
	.text {
		max-width: 270px;
		text-align: left;
	}
}

/* icons Preferences */

.item-preferences:before {
	display: block;
	content: "";
	height: 120px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	background-color: $background-color-button;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 30px;
	justify-content: center;
}

.icon-satellite:before {
	background-image: url("../image/antenna.svg");
}
.icon-clock:before {
	background-image: url("../image/clock.svg");
}
.icon-plan::before {
	background-image: url("../image/diagram.svg");
}
.icon-technology::before {
	background-image: url("../image/astronaut.svg");
}
/* What are we doing */

@media screen and (min-width: 320px) {
	.section-work {
		display: none;
	}
}

@include for-size(desktop) {
	.section-work {
		padding-top: 94px;
		padding-bottom: 94px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
	}

	.work-list {
		display: flex;
		padding-left: 0;
		padding-right: 0;

		& .item {
			width: calc((100% - 30px * 2) / 3);
			margin-right: 30px;
		}
		& .item:last-child {
			margin-right: 0;
		}
	}
}

// team

.title-main {
	color: #212121;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	margin-top: 0;
	padding-bottom: 50px;
}

.work-text {
	position: absolute;
	content: "";
	width: 100%;
	height: 70px;
	background: $background-color-work;

	padding-top: 27px;
	left: 0;
	bottom: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1em;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $text-white-color;
}
.container-overlay {
	position: relative;
}
